.error-msg,.xc,.error-msg2,.error-msg3{
    display:none;
    color: red;
}

.bdy{
    background-color: #e5e3c9cc;

    font-family: 'Anton', sans-serif;
   
  
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
   


}

